{% extends 'base.html' %}

{% load hitcount_tags %}

{% load humanize %}

{% load publication_tags %}

{% block head_title %}

{% endblock head_title %}

{% block content %}
<div class="mx-5 shadow-lg">
    <div class="row m-5">
        <div class="col mt-5">
            <div class="text-center display-4">{{object.title|title}}</div>
            <br>
            <div class="fs-4 mx-5">
                Department | {{object.dept}}
            </div>

            <div class="p-5">
                {{object.body|markdown}}
            </div>

        </div>

        <!-- ====== side bar ======= -->
        <div class="col-lg-3 mt-5 p-4">
            <p class="text-center fs-5">Views: {% get_hit_count for object %}</p>
            <br>
            <p class="text-center small text-muted m-0">Created</p>
            <p class="text-center small text-muted">{{object.created_at|naturaltime}}</p>
            <br>
            <p class="text-center small text-muted m-0">Category</p>
            <div class="text-center">
            <a href="#" class="text-primary">{{object.category}}</a>
        </div>
            {% for attachment in object.attachments.all %}
            <div class="text-center">
                <a class="text-decoration-none text-primary fs-5"
                    target="_blank"
                    href="{{attachment.file.url}}">
                    <i
                        class="bi bi-file-earmark-pdf-fill fs-1 text-danger"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}