{% extends 'base.html' %}

{% load publication_tags %}

{% load humanize %}

{% block head_title %}

{% endblock head_title %}


{% block content %}
<div class="container">

    
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
style="width: 640px;">

<a href="/"
    class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2"
        width="30"
        height="24">
        <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-5 fw-semibold">Publications</span>
</a>
<div class="list-group list-group-flush border-bottom scrollarea">

    {% for object in object_list %}

    <a href="{{object.pk}}"
        class="list-group-item list-group-item-action py-3 lh-tight"
        aria-current="true">
        <div
            class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{object.title|title|truncatechars:65}}</strong>
            <small>{{object.created_at|naturalday}}</small>
        </div>
        <div class="col-10 mb-1 small">{{object.created_at|naturalday}}</div>
    </a>

    {% endfor %}

</div>
</div>

</div>
{% endblock %}
